main {  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

form > input, button {
  margin: 8px;
  height: 2rem;
  padding-inline: 15px;
}

input {
  border: solid 4px black;
  border-radius: 8px;
}

button {
  height: 3rem;
  border-radius: 8px;
  cursor: pointer;
  background-color: blueviolet;
  color: #fff;
  font-weight: 600;
}

button:disabled{
  color: darkgray;
  background-color: gray;
  cursor: auto;
}

.material-symbols-outlined {
  font-size: 100px;
}